* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    padding-top: 25px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png);
    text-indent: -1000px;
}

/*Barra de navegação*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
}

#topo ul li {
    float: left;
    background: #b10333;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

.caixa {
    margin: 10px 0;
    padding: 5px 0;
    background: #f3f3f3 url(imagens/fundo-caixa.png);
}

.caixa-conteudo {
    background: white;
    margin-top: 5px;
    padding: 5px;
}

h2 {
    font-size: 1.3em;
    color: white;
    background: #294c71;
    padding: 5px;
}

h4 {
    padding: 3px;
    width: 110px;
    font-size: 0.8em;
    background: #b10333;
    color: white;
}

h5 {
    padding: 3px;
    width: 180px;
    font-size: 0.8em;
    background: #de003e;
}


.caixa-conteudo img {
    background: lightgray;
    width: 100%;
    padding: 3px;
}

/*menu lateral*/

#lateral ul a {
    font-size: 1em;
    padding: 3px;
    display: block;
    line-height: 35px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label {
    display: block;
    cursor: pointer;
}

input {
    width:150px;
    margin: 2px 3px;
    padding: 5px;
    background: white;
    border: 1px solid black;
}

input.submit {
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
    border-radius: 5px;
}

/* Lista de Noticias */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a h3 {
    padding: 0;
    margin-top: 3px;
    color: #3e7ab9;
}

#lista-noticias li a {
    font-size: 0.8em;
    text-decoration: none;
}

#lista-noticias li:hover {
    background-color: #eee;
    cursor: pointer;
}


/*Rodapé*/

#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}